@model Vidly.ViewModels.MovieFormViewModel
@{ 
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(Model.Id == 0)
{
    ViewBag.Title = "New Movie";
    <h2>New Movie</h2>
}
else
{
    ViewBag.Title = "Edit Movie";
    <h2>Edit Movie</h2>
}

@using (Html.BeginForm("Save", "Movies"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ReleaseDate)
        @Html.TextBoxFor(m => m.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ReleaseDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MovieGenres_Id)
        @Html.DropDownListFor(m => m.MovieGenres_Id, new SelectList(Model.MovieGenres, "Id", "Name"), "Select Movie Genre", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MovieGenres_Id)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Stock)
        @Html.TextBoxFor(m => m.Stock, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Stock)
    </div>

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

